<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Counter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <form action='/process' method='post' id="container" class="bg-primary" >
    <h1>Dojo Survey</h1>
    <div>
    Your name: <input  class="form-control" 
    type="text" name ="name" placeholder="Name">        
        <span>Dojo Location</span> 
        <select name="dojo" id="dojo" class="form-control">
        </select>
    </div>    
    <div>
        <span>Favorite Language</span> 
        <select name="lang" id="lang" class="form-control">
                    
            </select>
    </div>   
    <div>
        <p>Comment (optional): </p>
        <textarea class="form-control"name='comment' cols="30" rows="5"></textarea>
    </div>
    <button type="submit"> Submit</button>
    </form>
    
</body>
</html>